@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  font-family: 'Mulish', sans-serif;
  font-size: 62.5%;

  /* Variáveis */
  --title-cont-color: #B52184;
  --subtitle-color: #312D64;
  --cards-bg-color: linear-gradient(96deg, #343193 0%, #302C63 99.68%);

}

body {
  text-align: center;
}

/* Header */
h1,
h2 {
  font-weight: 900;
  color: var(--title-cont-color);
}

.capa {
  margin-bottom: 1.7rem;
}

h1 {
  font-size: 3.2rem;
  margin-bottom: .5rem;
}

header img:last-of-type {
  margin: 3.5rem 0 9.3rem;
}

header p,
figcaption p {
  color: var(--subtitle-color);
  color: #312D64;
  font-size: 1.6rem;
}

h2 {
  font-size: 3rem;
}

/* Cards */

.cards {
  background: var(--cards-bg-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  padding: 5.2rem 4rem;
  margin-bottom: 7.8rem;

}

figure {
  border-radius: 2rem;

  padding: 2.6rem;
  gap: 3.3rem;

  background: #fff;
  box-shadow: 0px 3.31077px 13.24308px 0px rgba(0, 0, 0, 0.25);
}

figure img {
  margin-bottom: 3.3rem;
}

figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-align: left;
  font-size: 1.6rem;

}

figcaption h2 {
  margin-bottom: 2rem;
}

/* Form */

.contact {
  display: flex;
  text-align: left;
  justify-content: space-around;
  padding: 0, 4rem, 6.5rem, 4.3rem;
}

.contact h2 {
  margin-bottom: 4.3rem;
}

.contact form {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 4rem;

  gap: 2.4rem;
}

.input-wrapper,
textarea {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  padding: 1.2rem 1.6rem 1.2rem 1.4rem;

  border: 2px solid var(--subtitle-color);
  border-radius: 1.6rem;
}

.contact input {
  border: none;
}

.contact textarea {
  height: 12.6rem;
  padding: 1.2rem 1.6rem 1.6rem;
}

.contact input::placeholder,
.contact textarea::placeholder {
  color: var(--subtitle-color);
  font-size: 1.6rem;
  line-height: 100%;
  /* 16px */
}

.contact button {
  min-height: 4.5rem;
  max-width: 15.1rem;

  border-radius: 1.6rem;
  background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);

  color: #FFF;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-transform: capitalize;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 7.8rem;

  padding: 1.6rem;

  background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);

  color: #FFF;
  text-align: center;
  font-size: 1.9rem;
}

/* Media Queries */

@media (min-width: 1440px) {

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;


    padding: 0 11rem;

    align-items: center;
  }

  header img:last-of-type {
    position: relative;
    right: 25%;
    top: 15rem;
  }


  .cards {
    flex-direction: row;

  }
}